.container{
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
}

.nome{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.titulo{
	padding-left: 100px;
	padding-top: 10px;
	text-align: center;
}

.tituloPrincipal{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.informacao{
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

.infoLegenda{
	display: inline;
	width: max-content; /* para forcar o elemento a ocupar a largura do que tem dentro dele */
}

.legenda{
	/*padding-left: 70px;*/
	/*flex-direction: row;*/
	/*display: flex;*/
}

.sombraLegenda{
	text-shadow: 1px 1px 1px black;
}

.vermelho{
	color: #F55F4F;
}

.amarelo{
	color: #FFFF6A;
}

.verde{
	color: #59F54F;
}

.ciano{
	color: #4FF5F2;
}

.roxo{
	color: #C66AFF;
}